.header {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-rows: 20px, 100px;
}

.navbar {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    align-items: flex-start;

}

.logo {
    border: 1px dotted green;
    padding: 1px;
   
}

.nav-btn {
    border: 1px dotted green;
    padding: 1px;
}

.corousel {
    border: 1px solid black;
    padding: 2px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

.corousel-detail {
    border: 1px solid red;
    padding: 2px;

}

.corousel-img img{
    
    border: 1px solid red;
    width: 100%;
    height: 100%;
    
}