*{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


.header-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;
}

.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-right: 10px;
}
a {
    text-decoration: none;
}

.courosel{
    align-content: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    width: 150px;
    height: 30px;
    background-color: red;
    color: white;
}

.courosel-img-1{
    width: 400px;
    height: 300px;
}

.center-text{
    text-align: center;
}
.featured-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.featured-products-img{
    display: flex;
    flex-direction: row;
    gap: 10px;
  
}

