@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  background: #000000;
  color: #ffffff;
  font-family: "Roboto", serif;
  margin: 2px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

a:hover {
  color: orangered;
}

button {
  cursor: pointer;
}

/* navbar styles */
.navbar {
  background-color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;

  position: sticky;
  top: 0;

  z-index: 5;
}

div.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

div.logo a {
  width: fit-content;
  height: 5opx;
  font-size: large;
}

div.btn button {
  width: 40px;
  height: 50px;
  border: none;
  background: transparent;
}

div.btn ion-icon {
  font-size: x-large;
}

.cart {
  position: relative;
}

span.cart-value {
  color: white;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* navbar ends here */

/* popup signup */
.popup {
  background-color: rgba(15, 15, 15, 1);
  color: gray;
  border: 2px solid rgba(40, 40, 40, 1);
  border-radius: 2px;
  padding: 20px;
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: start;
}

.popup h4,
p {
  margin: 5px 0;
}

.popup .login-popup-btn {
  border: 2px solid gray;
  background-color: rgb(20, 20, 20);
  color: gray;
  width: 100%;
  height: 35px;
  margin: 10px 0;
  cursor: pointer;
}

.popup .login-popup-btn:hover {
  background-color: #0dff00;
  color: red;
}

.popup {
  display: none;
}

.hide:hover .popup {
  display: block;
  z-index: 2;
}

span.original-price {
  color: gray;
  text-decoration: line-through;
}

/* iframe style */

.iframe div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  z-index: 5;
}

/* design of original price  */

.disc-price {
  font-size: larger;
}

.disc-price span {
  font-size: medium;
  color: gray;
  text-decoration: line-through;
}

/* product specification, ovverview and review */

.pro-specif {
  display: block;
}

div.pro-specif-category {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  gap: 10px;
}

div .top-pro-tabs {
  text-align: center;
  line-height: 35px;
  width: 120px;
  height: 35px;

  border-radius: 2px;
}

div .top-pro-tabs:first-child {
  background-color: red;
}

div .top-pro-tabs:hover {
  background-color: red;
  cursor: pointer;
}

table.specs {
  margin: 10px;
  margin-left: 50px;
  padding: 5px;
  border-spacing: 10px;
}

td {
  padding: 5px;
}

tr > :first-child {
  text-align: left;
  width: 180px;
}

tr > :last-child {
  text-align: right;
  width: 180px;
}

/* product details in side tab */

.product-data {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.product-data hr {
  color: gray;
  opacity: 25%;
  margin: 20px 0;
}

.product-gallery div {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 10px;
  padding: 10px;

  border: 1px solid grey;
  background-color: rgb(20, 20, 20);
}

.product-gallery img {
  width: 90px;
  height: 90px;
}

.product-feature-image {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
}

.product-feature-image img {
  width: 487px;
  height: 100%;
}

.product-detail {
  margin: 20px 10px;
  width: 324px;
  height: inherit;
}

.product-detail div,
.product-detail p {
  margin: 10px 0;
}

div.pro-add-cart button {
  width: 54%;
  height: 40px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin: 10px 5px;
}

div.pro-add-cart button:hover {
  background-color: #ff0000;
  color: #008000;
  transform: scale(1.02);
}

.price-save {
  position: relative;
}

.green-text {
  color: #008000;
}

.grey-text {
  color: grey;
}

span.stock-label {
  background-color: #008000;
  border-radius: 2px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 14px;

  position: absolute;
  top: 20px;
  right: 10px;
}

.offers {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  gap: 5px;
}

.offers p {
  background-color: rgb(20, 20, 20);
  border: 1px solid grey;
  width: 153px;
  padding: 10px;
}

/* top products */

.top-products {
  display: block;
}

.pro-heading {
  display: block;
  text-align: center;
  margin: 20px 10px;
  padding: 5px;
}

.top-pro-grid {
  margin: 10px 10px;
  padding: 20px;
  gap: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .top-pro-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
  justify-content: space-around;
}

.image {
  background-color: rgb(41, 41, 41);
}
.image img {
  width: 99%;
  height: 99%;
  background-color: rgb(41, 41, 41);
  margin: 2px auto auto 2px;
}

img:hover {
  transform: scale(1.01);
}

.card-details {
  margin: 10px 10px;
}

.rate ion-icon {
  color: red;
}

div .product-name {
  text-wrap: nowrap;
}

.discount-price {
  font-size: large;
  padding: 2px;
  margin: 10px;
  text-align: center;
  max-height: 35px;
  text-wrap: nowrap;
}

div.add-cart button {
  width: 94%;
  height: 40px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin: 10px 10px;
}

div.add-cart button:hover {
  background-color: #ff0000;
  color: #0dff00;
  transform: scale(1.02);
}

.card .card-twelve {
  font-size: 40px;
  margin: 5px;
  margin-left: 15%;
  padding: 5px;
  text-align: left;
}

.card-twelve:hover {
  transform: scale(1.01);
  text-decoration: underline;
}

/* advantage box */

.advantage-box {
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: auto;
}

.heading {
  font-size: 20px;
  text-align: center;
  padding: 30px 20px;
  margin: 10px;
  margin-bottom: 20px;
}

.adv-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
}

@media (max-width: 1024px) {
  .adv-grid {
    grid-template-columns: auto auto;
    gap: 10px;
  }
}

.adv-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;

  padding: 2px;
  background: #000000;
  color: #ffffff;
  width: 100%;

  text-wrap: nowrap;
  justify-content: center;
}

.adv-cards ion-icon {
  font-size: 60px;
  color: red;
  margin-top: 10px;
}

.adv-cards h3 {
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
  width: fit-content;
}

.adv-cards p {
  text-align: left;
  font-size: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: fit-content;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* footer part  */

.footer {
  width: 100%;
  display: block;
  margin: 0;
  padding: 5px;
}

.footer-content {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.footer-section {
  width: 20%;
  padding: 10px 10px;
}

.footer-content .form {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer-content .form p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-section form .subscribe {
  width: 200px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  background: inherit;
  border: 2px solid gray;
  color: #ffffff;
}

.footer-section form .subscribe:placeholder-shown {
  color: #ffffff;
}

.footer-section form .subscribe:hover {
  transform: scale(1.01);
  color: #000000;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.footer-section form input {
  display: block;
}

.form form .button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-size: 15px;
  background-color: #b90000;
  border: none;
  border-radius: 5px;
}

.form form .button:hover {
  transform: scale(1.01);
  color: orangered;
  background-color: rgb(200, 200, 200);
  border: 1px solid orangered;
}

.footer-section li,
h3 {
  list-style: none;
  margin: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.footer-bottom {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

div.btn button {
  width: 60px;
  height: 50px;
  border: none;
  background: transparent;
}

div.btn a {
  font-size: xx-large;
}
